.logo{
    width:32%;
    height:auto;
    margin-left: 42%;
    float-left;
    margin-top: 3%;
}
.desc{
    font-family:cursive;
    

}
.btn{
    background-color:#81cbfc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.trend{
    font-weight: bold;
    font-family:cursive;
}